<section class="about" id="about">
  <h2 class="title title--small">A bit about me</h2>
  <section class="content">
    <p class="description text--large">
      My name is <span class="text--focus">Jose</span>, a passionate developer
      dedicated to continuous learning and growth. I focus on delivering value
      by building web applications that adhere to
      <span class="text--focus"
        >clean coding principles and scalable architectures</span
      >.

      <br />
      <br />

      One of my proudest achievements has been securing a position in the IT
      industry without formal certifications, highlighting my
      <span class="text--focus"
        >determination, self-motivation, and commitment</span
      >
      to personal and professional development.
    </p>
    <figure class="picture-frame">
      <img
        width="240"
        src="./profile-pic.jpg"
        alt="Jose's profile picture"
        class="picture"
      />
    </figure>
  </section>
</section>
