.About {
	width: 100%;
	height: auto;
	display: grid;
	grid-template: auto 300px/ 1fr;
	grid-template-areas:
		'about-content'
		'about-image';
	justify-items: center;
	align-items: center;
	padding: 0 20px;
}

.About__content {
	grid-area: about-content;
	width: 100%;
	height: 100%;
}

.About__title {
	margin-bottom: 15px;
}

.About__picture {
	grid-area: about-image;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 25px 0;
}

.picture__img {
	border-radius: 10px;
	box-shadow: 5px 10px 13px var(--shadow);
}

/* media queries - start */

@media screen and (min-width: 800px) {
	.About {
		grid-template: 1fr / repeat(2, 1fr);
		grid-template-areas: 'about-content about-image';
		padding: 0 45px;
	}

	.About__picture {
		justify-content: flex-end;
		align-items: flex-start;
		margin: 0;
	}
}

/* media queries - end */
