.Contact {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 20px;
}

.Contact__title {
	text-align: center;
	margin-bottom: 15px;
}

.Contact__description {
	text-align: center;
	margin: 5px;
}

/* media queries */

@media screen and (min-width: 800px) {
	.Contact__description.will-disappear {
		display: none;
	}
}
