.Footer {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 40px 0 0;
	padding: 10px 20px;
	background-color: var(--background);
	box-shadow: 0 -12px 17px var(--shadow);
}

/* media queries - start */

.dark .Footer {
	background-color: var(--dark-background);
	box-shadow: 0 -10px 40px var(--dark-shadow);
}

/* media queries - end */

/* media queries - start */

@media screen and (min-width: 800px) {
	.Footer {
		padding: 10px 45px;
		/* z-index: 1; */
	}
}

/* media queries - end */
