*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

:root {
	--main-color: #506ad4;
	--secondary-color: rgba(61, 217, 35, 1);
	--unfocus-color: #67b5ca;
	--background: #d8e3e9;
	--lighter-background: white;
	--text-color: #272343;
	--gradient: linear-gradient(137.05deg, #ff6756 16.21%, #fecb60 86.29%);
	--shadow: #b8c1c6;
	--light: #f8ffff;
	--CTA: #f2cc39;
	/* dark mode colors */
	--dark-main-color: #506ad4;
	--dark-secondary-color: rgb(7, 195, 252);
	--dark-unfocus-color: #67b5ca;
	--dark-background: #0a192f;
	--dark-lighter-background: rgb(53, 52, 52);
	--dark-text-color: #dddddd;
	--dark-gradient: linear-gradient(137.05deg, #ff6756 16.21%, #fecb60 86.29%);
	--dark-shadow: #535657;
	--dark-CTA: #4912e0;
}

body {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif, Arial;
	overflow-x: hidden;
	overflow-y: scroll;
}
