*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

:root {
	--main-color: rgba(236, 148, 16, 1);
	--secondary-color: rgba(61, 217, 35, 1);
	--unfocus-color: rgba(93, 128, 169, 1);
	--background: rgba(255, 255, 255, 1);
	--text-color: rgb(20, 20, 20);
	--gradient: linear-gradient(180deg, #f5d151 0%, #ff963c 100%);
	--shadow: rgba(214, 214, 214, 1);
	--CTA: linear-gradient(137.05deg, #ff6756 16.21%, #fecb60 86.29%);
}

body {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif, Arial;
	overflow-x: hidden;
	overflow-y: scroll;
	color: var(--text-color);
}
