.Menu {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--lighter-background);
	z-index: 1;
	will-change: visibility, transform, opacity;
	transition: visibility 0.5s, transform 0.5s, opacity 0.5s;
	transform-origin: left top;
}

.Menu.hidden {
	opacity: 0;
	min-height: unset;
	visibility: hidden;
	transform: translatey(-100%) rotate(-45deg);
}

.Menu.visible {
	opacity: 1;
	visibility: visible;
	transform: translateX(0) rotate(0);
}

/* dark mode styles - start */

.dark .Menu {
	background-color: var(--dark-lighter-background);
}

/* dark mode styles - end */

/* media queries - start */

@media screen and (min-width: 800px) {
	.Menu,
	.Menu.visible,
	.Menu.hidden {
		position: static;
		min-width: 300px;
		height: 100%;
		min-height: unset;
		flex-direction: row;
		visibility: visible;
		transform: none;
		opacity: 1;
		justify-content: space-between;
		align-items: center;
	}
}

/* media queries - end */
