.MenuIcon {
	width: 40px;
	height: 40px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 7px 0;
	box-shadow: 3px 3px 6px var(--shadow);
}

.MenuIcon__line--first,
.MenuIcon__line--second,
.MenuIcon__line--third {
	width: 33px;
	height: 4px;
	background-color: var(--secondary-color);
	border-radius: 5px;
}
