.Navbar {
	width: 50%;
	max-width: 150px; /* we don't want the navbar to grow over 150px while it's displayed on mobile */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* media queries - start */

@media screen and (min-width: 800px) {
	.Navbar {
		width: auto;
		max-width: unset;
		height: 100%;
	}
}

/* media queries - end */
