.Projects {
	width: 100%;
	max-width: 1200px;
	height: auto;
	padding: 0 20px;
	margin: 50px 0;
	background-color: var(--background);
}

.Projects__title {
	margin-bottom: 15px;
}

.Projects__description {
	margin-bottom: 25px;
}

.Cards {
	width: 100%;
	height: auto;
	display: grid;
	justify-items: center;
	gap: 30px 15px;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
/* dark mode styles - start */

.dark .Projects {
	background-color: var(--dark-background);
}

/* dark mode styles - end */

/* media queries - start */

@media screen and (min-width: 800px) {
	.Projects {
		padding: 0 90px;
	}
}

/* media queries - end */
