/* global styles */
.title--small {
	font-size: 2.5rem;
	color: var(--unfocus-color);
}

.title--large {
	font-size: 3.5rem;
	color: var(--main-color);
}

.text--small {
	font-size: 1.5rem;
}

.text--medium {
	font-size: 1.6rem;
}

.text--large {
	font-size: 1.7rem;
}

/* dark mode - start */

.dark .title--small {
	color: var(--dark-unfocus-color);
}

.dark .title--large {
	color: var(--dark-main-color);
}

/* dark mode - end */

@media screen and (min-width: 600px) {
	.title--small {
		font-size: 3.5rem;
	}
	.title--large {
		font-size: 5rem;
	}
	.text--large {
		font-size: 1.9rem;
	}
}

@media screen and (min-width: 1000px) {
	.title--small {
		font-size: 4.5rem;
	}
	.title--large {
		font-size: 6rem;
	}
}
